<footer class="page-footer light-blue">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="grey-text">
          <a href="/about/privacy" class="white-text">Privacy Policy</a> /
          <a href="https://github.com/indentlabs/notebook" class="white-text">Source Code</a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      © 2016 <%= link_to 'Butterburn LLC.', 'http://butterburn.co', class: 'white-text' %>
    </div>
  </div>
</footer>